<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Provider</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <h1>Edit Provider</h1>
    <form action="/doctors/edit/<%= doctor._id %>" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="<%= doctor.name %>" required>
        <!--this is username-->
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" value="<%= doctor.username %>" required>
        <!--this is password for username-->
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
        <label for="speciality">Speciality:</label>
        <select id="speciality" name="speciality" required>
            <% specialities.forEach(speciality => { %>
                <option value="<%= speciality %>" <%= doctor.speciality === speciality ? 'selected' : '' %>><%= speciality %></option>
            <% }); %>
        </select>
        <button type="submit">Save Changes</button>
    </form>
    <a href="/doctors">Back to Manage Providers</a>
    <script src="../public/script/script.js"></script>
</body>
</html>
