<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Staff</title>
    <link rel="stylesheet" href="<%= basePath %>/styles/styles.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900&display=swap" rel='stylesheet'>
    <link rel="stylesheet" href="<%= basePath %>/css/introjs.min.css">
</head>
<style>
    .edit-btn {
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 0.9rem;
    }

    .edit-btn {
        background-color: #f0ad4e;
        color: #fff;
        width: 100%;
    }

    .introjs-tooltipbuttons {
    text-align: right; /* Align buttons to the right */

}

.help-btn {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.help-btn:hover {
    background-color: #0056b3; /* Slightly darker blue on hover */
}


.help-button-container {
    position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #12171e;
  padding: 12px 0;
  transition: all 0.5s ease;
}

/* Ensure the button aligns well with sidebar's active state */
.sidebar.active .help-btn {
    color: #fff;
    display: flex;
    width: 100%;
    gap: 5px;
    align-items: center;
    text-decoration: none;
    border-radius: 0.8rem;
}
</style>
<body>
    <div class="sidebar">
        <div class="top">
            <div class="logo">
                <img src="<%= basePath %>/assets/logo.png" alt="WeHealthify">
            </div>
            <i class="bx bx-menu" id="btn"></i>
        </div>

        <div class="user">
            <div>
                <p class="bold">Hospital Admin</p>
                <hr class="spacer">
            </div>
        </div>
        <ul>
            <li>
                <a href="<%= BASE_URL %>/hospitaladmin/admin-dashboard">
                    <i class="bx bxs-grid-alt"></i>
                    <span class="nav-item">Admin Dashboard</span>
                </a>
                <span class="tooltip">Dashboard</span>
            </li>
            <li>
                <a href="<%= basePath %>/doctors">
                    <i class='bx bx-group'></i>
                    <span class="nav-item">Manage Providers</span>
                </a>
                <span class="tooltip">All Providers</span>
            </li>
            <li>
                <a href="<%= BASE_URL %>/surveyapp/">
                    <i class='bx bx-book-content'></i>
                    <span class="nav-item">Manage Surveys</span>
                </a>
                <span class="tooltip">All Surveys</span>
            </li>
            <li>
                <a href="<%= BASE_URL %>/surveyapp/add">
                    <i class='bx bx-folder-plus'></i>
                    <span class="nav-item">Add New Specialty</span>
                </a>
                <span class="tooltip">New Specialty</span>
            </li>
            <li>
                <a href="<%= BASE_URL %>/hospitaladmin/view-report">
                    <i class='bx bxs-report'></i>
                    <span class="nav-item">View Reports</span>
                </a>
                <span class="tooltip">Reports</span>
            </li>
            <li>
                <a href="<%= BASE_URL %>/hospitaladmin/">
                    <i class="bx bx-log-out"></i>
                    <span class="nav-item">Logout</span>
                </a>
                <span class="tooltip">Logout</span>
            </li>
        </ul>
        <div class="help-button-container">
            <button id="helpButton" class="help-btn">
                <span class="nav-item">Help </span>
                <i class='bx bx-help-circle'></i>
            </button>
            
        
        </div>
    </div>

    <div class="main-content">
        <div class="topbar">
            <h2 style="color: #333333;">Welcome, Hospital Admin</h2>
        </div>

        <hr style="opacity: 0.5;">
        <br><h2 style="color: #333333;">Edit Staff</h2><br>

        <form action="<%= basePath %>/staff/edit/<%= staffMember._id %>" method="POST" class="addAdmin" style="text-align: left;" data-title="Edit Staff" data-intro="This form is for editing the staff of your clinic.">
            <input type="text" id="firstName" name="firstName" placeholder="First Name" value="<%= staffMember.firstName %>" required>
            <input type="text" id="lastName" name="lastName" placeholder="Last Name" value="<%= staffMember.lastName %>" required>
        
            <!-- Checkbox for Reset Password -->
            <div style="display: flex; justify-content:space-evenly; margin-top: 10px; margin-bottom: -20px;" data-title="Reset Password / Lock Account" data-intro="Here you can reset password/lock their account.">
                <input style="margin-right:-15px;" type="checkbox" id="resetPassword" name="resetPassword" value="true">
                <label for="resetPassword">Reset Password</label>
        
                <!-- Checkbox for Account Locked -->
                <input style="margin-right:-15px;" type="checkbox" id="isLocked" name="isLocked" value="true" <%= staffMember.isLocked ? 'checked' : '' %>>
                <label for="isLocked">Account Locked</label>
            </div>
        
            <br>
            <button type="submit" data-title="Save" data-intro="Save changes and proceed.">Save Changes</button>
            <a href="<%= basePath %>/doctors"><button type="button" class="edit-btn"><i class='bx bx-edit-alt'></i> Cancel</button></a>
        </form>
        

    </div>

    <!-- External scripts -->
    <script src="<%= basePath %>/js/intro.min.js"></script>
    <script>
        document.getElementById('helpButton').addEventListener('click', function() {
            introJs().start();
        });
        
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const firstNameField = document.getElementById('firstName');
            const lastNameField = document.getElementById('lastName');
            const usernameField = document.getElementById('username');
            const siteCode = "<%= site_code %>";

            function generateUsername() {
                const firstName = firstNameField.value.trim().charAt(0).toLowerCase();
                const lastName = lastNameField.value.trim().toLowerCase();
                usernameField.value = `${siteCode}_${firstName}_${lastName}`;
            }

            firstNameField.addEventListener('input', generateUsername);
            lastNameField.addEventListener('input', generateUsername);

            // Initialize the username on page load
            generateUsername();
        });
    </script>

    <script src="<%= basePath %>/script/script.js"></script>
    <script>
        let btn = document.querySelector('#btn');
        let sidebar = document.querySelector('.sidebar');

        btn.onclick = function() {
            sidebar.classList.toggle('active');
        };
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const sidebarLinks = document.querySelectorAll('.sidebar ul li a');

            function removeCurrentPageClasses() {
                sidebarLinks.forEach(link => {
                    link.classList.remove('CurrentPage');
                });
            }

            function setCurrentPageLink(path) {
                removeCurrentPageClasses();
                console.log(`Setting CurrentPage link for path: ${path}`);
                const currentPageLink = Array.from(sidebarLinks).find(link => {
                    const linkPath = new URL(link.href).pathname;
                    return linkPath === path;
                });
                if (currentPageLink) {
                    console.log(`CurrentPage link found: ${currentPageLink.href}`);
                    currentPageLink.classList.add('CurrentPage');
                } else {
                    console.log(`No CurrentPage link found for path: ${path}`);
                }
            }

            // Check the URL path and set the current page link on page load
            const currentPath = window.location.pathname;
            console.log(`Current path: ${currentPath}`);
            setCurrentPageLink(currentPath);

            sidebarLinks.forEach(link => {
                link.addEventListener('click', function() {
                    const targetPath = new URL(link.href).pathname;
                    console.log(`Navigating to: ${targetPath}`);
                    setCurrentPageLink(targetPath);
                });
            });
        });
    </script>
</body>
</html>
