<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Providers and Staff</title>
    <link rel="stylesheet" href="/styles/styles.css">    
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="sidebar">
        <div class="top">
            <div class="logo">
                <img src="/assets/logo.png" alt="WeHealthify">
            </div>
            <i class="bx bx-menu" id="btn"></i>
        </div>

        <div class="user">
            <div>
                <p class="bold">Hospital Admin</p>
                <hr class="spacer">
            </div>
        </div>
        <ul>
            <li>
                <a href="/admin-dashboard">
                    <i class="bx bxs-grid-alt"></i>
                    <span class="nav-item">Admin Dashboard</span>
                </a>
                <span class="tooltip">Dashboard</span>
            </li>
            <li>
                <a href="/doctors">
                    <i class='bx bx-group'></i>
                    <span class="nav-item">Manage Providers</span>
                </a>
                <span class="tooltip">All Providers</span>
            </li>
            <li>
                <a href="/manage">
                    <i class='bx bx-book-content'></i>
                    <span class="nav-item">Manage Surveys</span>
                </a>
                <span class="tooltip">All Surveys</span>
            </li>
            <li>
                <a href="/manage">
                    <i class='bx bx-add-to-queue'></i>
                    <span class="nav-item">Add New Survey</span>
                </a>
                <span class="tooltip">New Survey</span>
            </li>
            <li>
                <a href="/manage">
                    <i class='bx bx-folder-plus'></i>
                    <span class="nav-item">Add New Specialty</span>
                </a>
                <span class="tooltip">New Specialty</span>
            </li>
            <li>
                <a href="/view-report">
                    <i class='bx bxs-report'></i>
                    <span class="nav-item">View Reports</span>
                </a>
                <span class="tooltip">Reports</span>
            </li>
            <li>
                <a href="/logout">
                    <i class="bx bx-log-out"></i>
                    <span class="nav-item">Logout</span>
                </a>
                <span class="tooltip">Logout</span>
            </li>
        </ul>
    </div>

    <div class="main-content">
        <div class="topbar">
            <h1>Welcome, Hospital Admin</h1>
        </div>

        <hr>

        <div class="table-container">
            <br><h2>Manage Providers</h2><br>
            <form action="/doctors" method="POST">
                <input type="text" id="name" name="name" placeholder="Name" required>
                <input type="text" id="username" name="username" placeholder="Username" required>
                <input type="password" id="password" name="password" placeholder="Password" required>
                <label for="speciality">Speciality:</label>
                <select id="speciality" name="speciality" aria-placeholder="Speciality/Department" required>
                    <% specialities.forEach(speciality => { %>
                        <option value="<%= speciality %>"><%= speciality %></option>
                    <% }); %>
                </select>
                <button type="submit"><i class='bx bx-user-check' ></i> Add Provider</button>
            </form>
            <hr class="spacer">
            <hr>
            <hr class="spacer">
            <table>
                <tr>
                    <th>Doctor</th>
                    <th>Speciality</th>
                    <th>List of Surveys</th>
                    <th>Action</th>
                </tr>
                <% doctors.forEach(doctor => { %>
                    <tr>
                        <td><%= doctor.name %></td>
                        <td><%= doctor.speciality %></td>
                        <td>
                            <ul>
                                <% if (doctor.surveyName && doctor.surveyName.length) { %>
                                    <% doctor.surveyName.forEach(name => { %>
                                        <li><%= name %></li>
                                    <% }); %>
                                <% } else { %>
                                    <li>No surveys available</li>
                                <% } %>
                            </ul>
                        </td>
                        <td>
                            <a href="/doctors/edit/<%= doctor.id %>"><button class="edit-btn"><i class='bx bx-edit-alt'></i> Edit</button></a>
                            <form class="delete-style" action="/delete/<%= doctor.id %>" method="POST" onsubmit="return confirm('Are you sure you want to delete this record?');" style="display: inline;">
                                <button class="delete-btn"><i class='bx bxs-message-square-minus'></i> Delete</button>
                            </form>
                        </td>
                    </tr>
                <% }); %>
            </table>

            <hr class="spacer">
            <hr>
            <hr class="spacer">
            
            <!-- Manage Staff Section -->
            <br><h2>Manage Staff</h2><br>
            <form action="/staff" method="POST">
                <input type="text" id="name" name="name" placeholder="Name" required>
                <input type="text" id="username" name="username" placeholder="Username" required>
                <input type="password" id="password" name="password" placeholder="Password" required>
                <input type="hidden" id="speciality" name="speciality" value="STAFF">
                <button type="submit"><i class='bx bx-user-check'></i> Add Staff</button>
            </form>
            <hr class="spacer">
            <hr>
            <hr class="spacer">
            <table>
                <tr>
                    <th>Name</th>
                    <th>Username</th>
                    <th>Action</th>
                </tr>
                <% staff.forEach(member => { %>
                    <tr>
                        <td><%= member.name %></td>
                        <td><%= member.username %></td>
                        <td>
                            <a href="/staff/edit/<%= member._id %>"><button class="edit-btn"><i class='bx bx-edit-alt'></i> Edit</button></a>
                            <form class="delete-style" action="/staff/delete/<%= member._id %>" method="POST" style="display: inline;">
                                <button class="delete-btn"><i class='bx bxs-message-square-minus'></i> Delete</button>
                            </form>
                        </td>
                    </tr>
                <% }); %>
            </table>
        </div>
    </div>
    <script src="../public/script/script.js"></script>
    <script>
        let btn = document.querySelector('#btn');
        let sidebar = document.querySelector('.sidebar');

        btn.onclick = function() {
            sidebar.classList.toggle('active');
        };
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const sidebarLinks = document.querySelectorAll('.sidebar ul li a');

            function removeCurrentPageClasses() {
                sidebarLinks.forEach(link => {
                    link.classList.remove('CurrentPage');
                });
            }

            function setCurrentPageLink(path) {
                removeCurrentPageClasses();
                const currentPageLink = Array.from(sidebarLinks).find(link => {
                    const linkPath = new URL(link.href).pathname;
                    return linkPath === path;
                });
                if (currentPageLink) {
                    currentPageLink.classList.add('CurrentPage');
                }
            }

            const currentPath = window.location.pathname;
            setCurrentPageLink(currentPath);

            sidebarLinks.forEach(link => {
                link.addEventListener('click', function() {
                    const targetPath = new URL(link.href).pathname;
                    setCurrentPageLink(targetPath);
                });
            });
        });
    </script>
</body>
</html>
