<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Survey</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <style>

    .readonly-input {
        background-color: #f5f5f5;
        border: 1px solid #ccc;
        color: #000000;
        cursor: not-allowed;
    }
    
</style>

</head>
<body>
    <div class="sidebar">
        <div class="top">
            <div class="logo">
                <img src="/assets/logo.png" alt="WeHealthify">
            </div>
            <i class="bx bx-menu" id="btn"></i>
        </div>

        <div class="user">
            <div>
                <!-- <p class="bold">Hospital Admin</p> -->
                <p class="bold"><%= hospitalName %>, <%= site_code %>, Admin</p>
                <hr class="spacer">
            </div>
        </div>
        <ul>
            <li>
                <a href="http://localhost:4000/admin-dashboard">
                    <i class="bx bxs-grid-alt"></i>
                    <span class="nav-item">Admin Dashboard</span>
                </a>
                <span class="tooltip">Dashboard</span>
            </li>
            <li>
                <a href="http://localhost:4010/doctors">
                    <i class='bx bx-group'></i>
                    <span class="nav-item">Manage Providers</span>
                </a>
                <span class="tooltip">All Providers</span>
            </li>
            <li>
                <a href="http://localhost:4050/">
                    <i class='bx bx-book-content'></i>
                    <span class="nav-item">Manage Surveys</span>
                </a>
                <span class="tooltip">All Surveys</span>
            </li>
            <li>
                <a href="http://localhost:4050/add">
                    <i class='bx bx-folder-plus'></i>
                    <span class="nav-item">Add New Specialty</span>
                </a>
                <span class="tooltip">New Specialty</span>
            </li>
            <li>
                <a href="http://localhost:4000/view-report">
                    <i class='bx bxs-report'></i>
                    <span class="nav-item">View Reports</span>
                </a>
                <span class="tooltip">Reports</span>
            </li>
            <li>
                <a href="http://localhost:4000">
                    <i class="bx bx-log-out"></i>
                    <span class="nav-item">Logout</span>
                </a>
                <span class="tooltip">Logout</span>
            </li>
        </ul>
    </div>

    <div class="main-content">
        <div class="topbar">
            <!-- <h1>Welcome, Hospital Admin</h1> -->
            <h2>Welcome, <%= firstName %> <%= lastName %></h2>
        </div>

        <hr>
        <br><h2>Edit Survey</h2><br>
        <div class="form-container">
            <form action="/edit/<%= survey._id %>" method="POST" class="editSurveyForm">
                <!-- Hidden inputs to include hospital code and site code -->
                <input type="hidden" name="hospital_code" value="<%= survey.hospital_code %>">
                <input type="hidden" name="site_code" value="<%= survey.site_code %>">
            
                <div class="form-group">
                    <label for="specialty">Providers Specialty:</label>
                    <input type="text" id="specialty" name="specialty" value="<%= survey.specialty %>" readonly class="readonly-input">
                </div>
            
                <div class="form-group">
                    <label for="surveyType">Select Survey Type:</label>
                    <select id="surveyType" name="surveyType" onchange="toggleSurveyCheckboxes()">
                        <option value="api" <%= survey.API && survey.API.length > 0 ? 'selected' : '' %>>API Survey</option>
                        <option value="custom" <%= survey.custom && survey.custom.length > 0 ? 'selected' : '' %>>Custom Survey</option>
                    </select>
                </div>
            
                <!-- API Survey Checkboxes -->
                <div class="form-group" id="apiSurveyGroup" style="<%= survey.API && survey.API.length > 0 ? '' : 'display:none;' %>">
                    <label>Select API Surveys:</label>
                    <% apiSurveys.forEach(apiSurvey => { %>
                        <div class="checkbox">
                            <input type="checkbox" id="apiSurvey_<%= apiSurvey.form_id %>" name="apiSurvey" value="<%= apiSurvey.form_id %>"
                                <%= survey.API && survey.API.some(s => s.id === apiSurvey.form_id) ? 'checked' : '' %>>
                            <label for="apiSurvey_<%= apiSurvey.form_id %>"><%= apiSurvey.survey_name %></label>
                        </div>
                    <% }); %>
                </div>
            
                <!-- Custom Survey Checkboxes -->
                <div class="form-group" id="customSurveyGroup" style="<%= survey.custom && survey.custom.length > 0 ? '' : 'display:none;' %>">
                    <label>Select Custom Surveys:</label>
                    <% allSurveys.forEach(customSurvey => { %>
                        <div class="checkbox">
                            <input type="checkbox" id="customSurvey_<%= customSurvey._id %>" name="customSurvey" value="<%= customSurvey.surveyName %>"
                                <%= survey.custom && survey.custom.includes(customSurvey.surveyName) ? 'checked' : '' %>>
                            <label for="customSurvey_<%= customSurvey._id %>"><%= customSurvey.surveyName %></label>
                        </div>
                    <% }); %>
                </div>
            
                <!-- Hidden fields for storing selected surveys -->
                <input type="hidden" name="apiSurveyData" id="apiSurveyData">
                <input type="hidden" name="customSurveyData" id="customSurveyData">
                <div class="form-group">
                    <br>
                    <button type="submit" class="submit-button"><i class='bx bx-save'></i> Save Changes</button>
                </div>
                <br>
                <a href="/" class="edit-btn" style="width: 100%!important; display: flex;justify-content: center;"><i class='bx bx-edit-alt'></i> Cancel</button></a>
            </form>            
            
        </div>


        <script>
            function toggleSurveyCheckboxes() {
                const surveyType = document.getElementById('surveyType').value;
                const apiSurveyGroup = document.getElementById('apiSurveyGroup');
                const customSurveyGroup = document.getElementById('customSurveyGroup');
        
                if (surveyType === 'api') {
                    apiSurveyGroup.style.display = 'block';
                    customSurveyGroup.style.display = 'none';
                } else {
                    apiSurveyGroup.style.display = 'none';
                    customSurveyGroup.style.display = 'block';
                }
            }
        
            function getSelectedCheckboxes(checkboxName) {
                const checkboxes = document.querySelectorAll(`input[name="${checkboxName}"]:checked`);
                const selected = [];
                checkboxes.forEach(checkbox => {
                    const label = document.querySelector(`label[for="${checkbox.id}"]`);
                    if (checkboxName === 'apiSurvey') {
                        selected.push({ name: label.innerText, id: checkbox.value });
                    } else {
                        selected.push(label.innerText);
                    }
                });
                return selected;
            }
        
            document.querySelector('form').addEventListener('submit', function(event) {
                event.preventDefault();
        
                const apiSelected = getSelectedCheckboxes('apiSurvey');
                const customSelected = getSelectedCheckboxes('customSurvey');
        
                document.getElementById('apiSurveyData').value = JSON.stringify(apiSelected);
                document.getElementById('customSurveyData').value = JSON.stringify(customSelected);
        
                this.submit();
            });
        </script>
        
    </div>

    <script>
        let btn = document.querySelector('#btn');
        let sidebar = document.querySelector('.sidebar');

        btn.onclick = function() {
            sidebar.classList.toggle('active');
        };
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const sidebarLinks = document.querySelectorAll('.sidebar ul li a');

            function removeCurrentPageClasses() {
                sidebarLinks.forEach(link => {
                    link.classList.remove('CurrentPage');
                });
            }

            function setCurrentPageLink(path) {
                removeCurrentPageClasses();
                const currentPageLink = Array.from(sidebarLinks).find(link => {
                    const linkPath = new URL(link.href).pathname;
                    return linkPath === path;
                });
                if (currentPageLink) {
                    currentPageLink.classList.add('CurrentPage');
                }
            }

            const currentPath = window.location.pathname;
            setCurrentPageLink(currentPath);

            sidebarLinks.forEach(link => {
                link.addEventListener('click', function() {
                    const targetPath = new URL(link.href).pathname;
                    setCurrentPageLink(targetPath);
                });
            });
        });
    </script>
</body>
</html>
