
<!-- Add this inside the body tag of home.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="stylesheet" href="/style.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">


  <style>


    /* Loading GIF */
.loading-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    display: none; /* Initially hide the loading container */
}

.loading-container img {
    width: 35%;  /* Adjust the width to make the GIF smaller */
    height: 35%; /* Adjust the height to make the GIF smaller */
}


    .user-img {
        width: 50px;
        border-radius: 100%;
        border: 1px solid #eee;
    }
    
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        
    }
    
    .sidebar {
        position: fixed;
        top: 20;
        left: 0;
        height: 100vh;
        width: 80px;
        background-color: #12171e;
        padding: 0.4rem 0.8rem;
        transition: all 0.5s ease;
        }   
    
    .sidebar.active ~ .main-content {
    left: 250px;
    width: calc(100% - 250px);
    }
    
    .sidebar.active {
        width: 250px;
    }
    
    .sidebar #btn {
        position: absolute;
        color:#fff;
        top: .4rem;
        left: 50%;
        font-size: 1.2rem;
        line-height: 50px;
        transform: translateX(-50%);
        cursor: pointer;
    }
    
    .sidebar.active #btn {
        left: 90%;
    }
    
    
    .sidebar .top .logo {
        color: #fff;
        display: flex;
        height: 50px;
        width: 100%;
        align-items: center;
        pointer-events: none;
        opacity: 0;
        margin-top: 2rem!important;
    }
    
    .sidebar.active .top .logo {
        opacity: 1;
    
    }
    
    .top .logo i {
        font-size: 2rem;
        margin-right: 5px;
    }
    
    .user {
        display: flex;
        align-items: center;
        margin: 1rem 0;
    
    }
    
    .user p {
        color:#fff;
        opacity: 1;
        margin-left: 1rem;
    }
    
    .bold {
        font-weight: 600;
    }
    
    .sidebar p {
        opacity: 0;
    }
    
    .sidebar.active p {
        opacity: 1;
    }
    
    .sidebar ul li {
        position: relative;
        list-style-type: none;
        height: 50px;
        width: 90%;
        margin: 0.8rem auto;
        line-height: 50px;
    }
    
    .sidebar ul li a {
        color: #fff;
        display: flex;
        align-items: center;
        text-decoration: none;
        border-radius: 0.8rem;
    }
    
    .sidebar ul li a:hover {
        background-color: #fff;
        color:#12171e;
    }
    
    .sidebar ul li a i {
        min-width: 50px;
        text-align: center;
        height: 50px;
        border-radius: 12px;
        line-height: 50px;
    }
    
    .sidebar .nav-item {
        opacity: 0;
    }
    
    .sidebar.active .nav-item {
        opacity: 1;
    }
    
    .sidebar ul li .tooltip {
        position: absolute;
        left: 125px;
        top: 50%;
        transform: translate(-50% , -50%);
        box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
        border-radius: .6rem;
        padding: .4rem 1.2rem;
        line-height: 1.8rem;
        z-index: 20;
        opacity: 0;
        background-color: #fff;
    }
    
    .sidebar ul li:hover .tooltip {
        opacity: 1!important;
    }
    
    .sidebar.active ul li .tooltip {
        display: none;
    }
    
    .main-content {
        position: relative;
        min-height: 100vh;
        top: 0;
        left: 80px;
        transition: all 0.5s ease;
        width: calc(100% - 80px);

    }
    
    .topbar {
        display: flex;
        justify-content:space-between;
        padding: 30px;
        background-color: #fff;
    }
    
    
    
    ul.promslist  { display:flex; list-style-type:circle; margin-left: 20px; min-width: 10ch;}
    #dontshow {visibility: hidden;}
    
    hr.spacer {
                border: 0px dashed;
                padding-bottom: 30px;
            
            }
    

            .promslist1{
                padding-left: 2rem;
                margin-top: -2rem;
                font-size: 14px;

            }
    .widget-container{display:flex; justify-content: space-between;padding: 50px;}
    .widgets{box-shadow: 0px 3.712px 20px 0px rgba(0, 0, 0, 0.05); border-radius: 5px;}
        </style>
</head>
<body>
  <div class="sidebar">
    <div class="top">
         <div class="logo">
        <img src="/assets/logo.png" alt="WeHealthify">
         </div>
         <i class="bx bx-menu" id="btn"></i>
    </div>

    
    <div class="user">
        <div>
            <p class="bold"><%= doctor.username %></p>
            <p><%= doctor.speciality %></p>
        </div>
    </div>
    <ul>
        <li>
            <a href="#">
                <i class="bx bxs-grid-alt"></i>
                <span class="nav-item">Dashboard</span>
            </a>
            <span class="tooltip">Dashboard</span>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-line-chart'></i>
                <span class="nav-item">Reports</span>
            </a>
            <span class="tooltip">Reports</span>
        </li>            
        <li>
            <a href="#">
                <i class='bx bx-group'></i>
                <span class="nav-item">Patients</span>
            </a>
            <span class="tooltip">Patients</span>
        </li>            
        <li>
            <a href="#">
                <i class="bx bx-spreadsheet"></i>
                <span class="nav-item">Surveys</span>
            </a>
            <span class="tooltip">Surveys</span>
        </li>
        <li>
            <a href="/logout">
                <i class="bx bx-log-out"></i>
                <span class="nav-item">Logout</span>
            </a>
            <span class="tooltip">Logout</span>
        </li>
    </ul>
</div>

<div class="main-content">
    <div class="topbar">
        <h1>Welcome, Dr. <%= doctor.name %></h1>
        

        <!-- <form action="/search" method="GET" class="searchtopbar">
            <input type="text" name="mrNo" placeholder="Quick MR Search" >
            <button type="submit" class="btn-search"><i class='bx bx-search-alt'></i></button>
          </form> -->
<!-- 
          <form action="/search" method="GET" class="searchtopbar">
            <input type="text" name="mrNo" placeholder="Quick MR Search">
            <input type="hidden" name="username" value="<%= doctor.username %>">
            <input type="hidden" name="speciality" value="<%= doctor.speciality %>">
            <button type="submit" class="btn-search"><i class='bx bx-search-alt'></i></button>
        </form> -->
        <form action="/search" method="GET" class="searchtopbar">
          <input type="text" name="mrNo" placeholder="Quick MR Search">
          <input type="hidden" name="username" value="<%= doctor.username %>">
          <input type="hidden" name="speciality" value="<%= doctor.speciality %>">
          <input type="hidden" name="name" value="<%= doctor.name %>">
          <button type="submit" class="btn-search"><i class='bx bx-search-alt'></i></button>
      </form>
      
      

        
    </div>
    <div class="promslist1">
    <ul class="promslist">
        <% surveys.surveyName.forEach(survey => { %>
          <li><%= survey %> </li>
          <li id="dontshow">DDDDD</li>
        <% }); %>
      </ul>
      <br>
    </div>

    <hr>
    <div class="widget-container"> 
        
        <img src="/assets/total_interventions.png" class="widgets" style="width: 20%;">
        <img src="/assets/overallpatientperformance.png" class="widgets" style="width: 20%;">
        <img src="/assets/DiagnosesAssigned.png" class="widgets"style="width: 20%;">
        <img src="/assets/ScatterPlot.png" class="widgets"style="width: 20%";>


    </div>
        <div class="patient-details" class="search-container" style="padding:50px ;">

            <h2>Your List of Patients</h2>

            <table>
              <thead>
                <tr>
                  <th>MR_no</th>
                  <th>Name</th>
                  <th>DOB</th>
                  <th>Appointment Date & Time</th>
                  <th>Speciality</th>
                  <th>Date of Surgery</th>
                  <th>Phone Number</th>
                  <th>Today's Appointment</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <% 
                // Separate today's and future appointments
                const todayAppointments = patients.filter(patient => isCurrentDate(patient.datetime)).sort((a, b) => new Date(a.datetime) - new Date(b.datetime));
                const futureAppointments = patients.filter(patient => !isCurrentDate(patient.datetime)).sort((a, b) => new Date(a.datetime) - new Date(b.datetime));
                %>
              
                <% todayAppointments.forEach(patient => { %>
                  <tr class="highlight-green">
                    <td><%= patient.Mr_no %></td>
                    <td><%= patient.Name %></td>
                    <td><%= patient.DOB %></td>
                    <td><%= patient.datetime %></td>
                    <td><%= patient.speciality %></td>
                    <td><%= patient.dateOfSurgery %></td>
                    <td><%= patient.phoneNumber %></td>
                    <td>
                      <span style="color: green;">&#10004;</span>
                    </td>
                    <td>
                      <form action="/search" method="GET">
                        <input type="hidden" name="mrNo" value="<%= patient.Mr_no %>">
                        <input type="hidden" name="username" value="<%= doctor.username %>">
                        <input type="hidden" name="speciality" value="<%= doctor.speciality %>">
                        <input type="hidden" name="name" value="<%= doctor.name %>">
                        <button type="submit"><i class='bx bx-expand-alt' style='font-size:14px;' ></i> View More</button>
                      </form>
                    </td>
                  </tr>
                <% }); %>
              
                <% futureAppointments.forEach(patient => { %>
                  <tr>
                    <td><%= patient.Mr_no %></td>
                    <td><%= patient.Name %></td>
                    <td><%= patient.DOB %></td>
                    <td><%= patient.datetime %></td>
                    <td><%= patient.speciality %></td>
                    <td><%= patient.dateOfSurgery %></td>
                    <td><%= patient.phoneNumber %></td>
                    <td>
                      <span style="color: red;">&#10006;</span>
                    </td>
                    <td>
                      <form action="/search" method="GET">
                        <input type="hidden" name="mrNo" value="<%= patient.Mr_no %>">
                        <input type="hidden" name="username" value="<%= doctor.username %>">
                        <input type="hidden" name="speciality" value="<%= doctor.speciality %>">
                        <input type="hidden" name="name" value="<%= doctor.name %>">
                        <button type="submit"><i class='bx bx-expand-alt' style='font-size:14px;' ></i> View More</button>
                      </form>
                    </td>
                  </tr>
                <% }); %>
              </tbody>
            </table>
            
            
</div>
</div>

<!-- Loading GIF -->
<div class="loading-container" id="loadingContainer">
  <img src="/assets/photo.GIF" alt="Loading...">
</div>

</body>

<script>
let btn = document.querySelector('#btn');
let sidebar = document.querySelector('.sidebar');

btn.onclick = function() {
    sidebar.classList.toggle('active');
};

// Show the loading GIF when the form is submitted
document.querySelectorAll('form').forEach(form => {
    form.addEventListener('submit', function() {
        document.getElementById('loadingContainer').style.display = 'flex';
    });
});


</script>
</html>



