<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey Details</title>
    <link rel="stylesheet" href="/path/to/your/styles.css">
    <style>
        body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

h1, h2, h3 {
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #2c7d5a;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.fixed-width th:first-child, 
.fixed-width td:first-child {
    width: 40%;
}


    </style>
</head>
<body>
    <h1>Survey Details</h1>

    <div>
        <h2>Patient Name: <%= patient.firstName %> <%= patient.middleName %> <%= patient.lastName %></h2>
        <p>DOB: <%= patient.DOB %></p>
        <p>Speciality: <%= patient.speciality %></p>
        <p>Phone Number: <%= patient.phoneNumber %></p>
        <p>Hospital: <%= patient.hospital_code %></p>
    </div>

    <% if (PAIN6bSurvey) { %>
        <div>
            <h3>PAIN-6b Survey</h3>
            <table class="fixed-width">
                <thead>
                    <tr>
                        <th>Questions</th>
                        <% PAIN6bSurvey.forEach((question) => { %>
                            <th><%- question.question %></th> <!-- Assessment 1 (Formatted Date) -->
                        <% }); %>
                    </tr>
                </thead>
                <tbody>
                    <% Object.keys(PAIN6bSurvey[0].responses).forEach((responseKey) => { %>
                        <tr>
                            <td><%= responseKey %></td>
                            <% PAIN6bSurvey.forEach((question) => { %>
                                <td><%= question.responses[responseKey] %></td>
                            <% }); %>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    <% } %>
    
    <% if (PHYSICAL6bSurvey) { %>
        <div>
            <h3>PHYSICAL-6b Survey</h3>
            <table class="fixed-width">
                <thead>
                    <tr>
                        <th>Questions</th>
                        <% PHYSICAL6bSurvey.forEach((question) => { %>
                            <th><%- question.question %></th> <!-- Assessment 1 (Formatted Date) -->
                        <% }); %>
                    </tr>
                </thead>
                <tbody>
                    <% Object.keys(PHYSICAL6bSurvey[0].responses).forEach((responseKey) => { %>
                        <tr>
                            <td><%= responseKey %></td>
                            <% PHYSICAL6bSurvey.forEach((question) => { %>
                                <td><%= question.responses[responseKey] %></td>
                            <% }); %>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    <% } %>
    <% if (PAIDSurvey) { %>
        <div>
            <h3>PAID Survey</h3>
            <table class="fixed-width">
                <thead>
                    <tr>
                        <th>Questions</th>
                        <% PAIDSurvey.forEach((question) => { %>
                            <th><%- question.question %></th> <!-- Assessment 1 (Formatted Date) -->
                        <% }); %>
                    </tr>
                </thead>
                <tbody>
                    <% Object.keys(PAIDSurvey[0].responses).forEach((responseKey) => { %>
                        <tr>
                            <td><%= responseKey %></td>
                            <% PAIDSurvey.forEach((question) => { %>
                                <td><%= question.responses[responseKey] %></td>
                            <% }); %>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    <% } %>
    
    <% if (PROMISSurvey) { %>
        <div>
            <h3>PROMIS-10 Survey</h3>
            <table class="fixed-width">
                <thead>
                    <tr>
                        <th>Questions</th>
                        <% PROMISSurvey.forEach((question) => { %>
                            <th><%- question.question %></th> <!-- Assessment 1 (Formatted Date) -->
                        <% }); %>
                    </tr>
                </thead>
                <tbody>
                    <% Object.keys(PROMISSurvey[0].responses).forEach((responseKey) => { %>
                        <tr>
                            <td><%= responseKey %></td>
                            <% PROMISSurvey.forEach((question) => { %>
                                <td><%= question.responses[responseKey] %></td>
                            <% }); %>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    <% } %>
    
    <% if (ICIQSurvey) { %>
        <div>
            <h3>ICIQ-UI-SF Survey</h3>
            <table class="fixed-width">
                <thead>
                    <tr>
                        <th>Questions</th>
                        <% ICIQSurvey.forEach((question) => { %>
                            <th><%- question.question %></th> <!-- Assessment 1 (Formatted Date) -->
                        <% }); %>
                    </tr>
                </thead>
                <tbody>
                    <% Object.keys(ICIQSurvey[0].responses).forEach((responseKey) => { %>
                        <tr>
                            <td><%= responseKey %></td>
                            <% ICIQSurvey.forEach((question) => { %>
                                <td><%= question.responses[responseKey] %></td>
                            <% }); %>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    <% } %>
    
    <% if (WexnerSurvey) { %>
        <div>
            <h3>Wexner Survey</h3>
            <table class="fixed-width">
                <thead>
                    <tr>
                        <th>Questions</th>
                        <% WexnerSurvey.forEach((question) => { %>
                            <th><%- question.question %></th> <!-- Assessment 1 (Formatted Date) -->
                        <% }); %>
                    </tr>
                </thead>
                <tbody>
                    <% Object.keys(WexnerSurvey[0].responses).forEach((responseKey) => { %>
                        <tr>
                            <td><%= responseKey %></td>
                            <% WexnerSurvey.forEach((question) => { %>
                                <td><%= question.responses[responseKey] %></td>
                            <% }); %>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    <% } %>
    
    <% if (EPDSSurvey) { %>
        <div>
            <h3>EPDS Survey</h3>
            <table class="fixed-width">
                <thead>
                    <tr>
                        <th>Questions</th>
                        <% EPDSSurvey.forEach((question) => { %>
                            <th><%- question.question %></th> <!-- Assessment 1 (Formatted Date) -->
                        <% }); %>
                    </tr>
                </thead>
                <tbody>
                    <% Object.keys(EPDSSurvey[0].responses).forEach((responseKey) => { %>
                        <tr>
                            <td><%= responseKey %></td>
                            <% EPDSSurvey.forEach((question) => { %>
                                <td><%= question.responses[responseKey] %></td>
                            <% }); %>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    <% } %>
    
   
    <% if (patient.FORM_ID) { %>
        <% Object.keys(patient.FORM_ID).forEach(formId => { %>
            <% const form = patient.FORM_ID[formId]; %>
    
            <div>
                <h3><%= form.assessments[0].scoreDetails.Name %></h3>
    
                <table class="fixed-width">
                    <thead>
                        <tr>
                            <th>Questions</th>
                            <% form.assessments.forEach((assessment, index) => { %>
                                <% 
                                    const timestamp = new Date(assessment.timestamp.$date || assessment.timestamp);
                                    const formattedDate = timestamp.toLocaleDateString('en-US', {
                                        day: 'numeric',
                                        month: 'short',
                                        year: 'numeric'
                                    }).replace(/(\d+)(st|nd|rd|th)/, "$1<sup>$2</sup>");
                                %>
                                <th>Assessment <%= index + 1 %> <br>(<%= formattedDate %>, T-Score: <%= assessment.scoreDetails['T-Score'] %>)</th>
                            <% }); %>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <% form.assessments[0].scoreDetails.Items.forEach((item, itemIndex) => { %>
                            <tr>
                                <td><%= item.Elements[Math.floor(item.Elements.length / 2)].Description %></td>
                                <% form.assessments.forEach(assessment => { %>
                                    <% const response = assessment.scoreDetails.Items[itemIndex].Response; %>
                                    <% const mapElement = assessment.scoreDetails.Items[itemIndex].Elements.find(el => el.Map); %>
                                    <% const responseLabel = mapElement && mapElement.Map ? 
                                        mapElement.Map.find(map => map.Value === response)?.Description : 'Unknown label'; %>
                                    <td><%= responseLabel %> (<%= response %>)</td>
                                <% }); %>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
    
        <% }); %>
    <% } else { %>
        <p>No survey data available for this patient.</p>
    <% } %>
    

</body>
</html>
