<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit your Details</title>
    <link rel="stylesheet" href="<%= basePath %>/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
        <link rel="stylesheet" href="<%= basePath %>/css/introjs.min.css">
        <style>
          body {
              font-family: 'Urbanist', sans-serif;
              background-color: #f0f4f8;
          }
  
          .container {
              display: flex;
              justify-content: space-evenly;
              margin: auto;
              margin-top: 50px;
              background-color: white;
              padding: 0;
              border-radius: 8px;
              box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
              text-align: left;
          }
  
          .profile-container,
          .form-container {
              width: 45%;
              padding: 18px;
          }
  
          .profile-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the left */
    padding-right: 20px;
    border-right: 1px solid #ddd;
    padding-top:0px;
}

.profile-pic {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
}

  
          .profile-details {
              text-align: left;
              width: 100%;
              margin-bottom: 20px;
              display: flex;
              justify-content: space-between;
          }
  
          .profile-details ul {
              list-style: none;
              padding-left: 0;
          }
  
          .profile-details li {
              margin-bottom: 10px;
          }
  
          .allergies {
              text-align: left;
              width: 100%;
          }
  
          .allergies h3 {
              margin-bottom: 10px;
          }
  
          .form-group {
              margin-bottom: 15px;
          }
  
          .form-label {
              display: block;
              margin-bottom: 5px;
          }
  
          .form-input {
              width: 100%;
              padding: 8px;
              box-sizing: border-box;
          }
  
          .update-btn {
              background-color: #4CAF50;
              color: white;
              padding: 10px 20px;
              border: none;
              cursor: pointer;
              margin-top: 20px;
              width: 100%;
          }
  
          .update-btn:hover {
              background-color: #45a049;
          }
  
          .flash-message {
              margin: 10px 0;
              padding: 10px;
              border-radius: 5px;
          }
  
          .flash-message.error {
              background-color: #f8d7da;
              color: #721c24;
          }
  
          .flash-message.success {
              background-color: #d4edda;
              color: #155724;
          }
  
          h2{
            color: #333333;
          }
          h3,
          p,
          li {
              text-align: left;
          }

          .dashed {
            border: 1px dashed #ccc;
            width: 100%;
            margin-bottom: 15px;
          }

          .introjs-tooltipbuttons {
    text-align: right; /* Align buttons to the right */

}

.help-btn {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    margin: 0px !important;
    transition: background-color 0.3s ease;
}

.help-btn:hover {
    background-color: #0056b3; /* Slightly darker blue on hover */
}


.help-button-container {
    position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #12171e;
  padding: 12px 0;
  transition: all 0.5s ease;
}

/* Ensure the button aligns well with sidebar's active state */
.sidebar.active .help-btn {
    color: #fff;
    display: flex;
    width: 100%;
    gap: 5px;
    align-items: center;
    text-decoration: none;
    border-radius: 0.8rem;
}
      </style>
</head>

<body>

    <div class="sidebar">
        <div class="top">
            <div class="logo">
                <img src="<%= basePath %>/assets/logo.png" alt="WeHealthify">
            </div>
            <i class="bx bx-menu" id="btn"></i>
        </div>
        <ul>
            <hr class="spacer">
            <li>
                <a href="<%= basePath %>/userDetails">
                    <i class='bx bx-bar-chart-alt-2'></i>
                    <span class="nav-item">My Charts</span>
                </a>
                <span class="tooltip">My Charts</span>
            </li>
            <!-- <li>
                <a href="/survey-details/<%= patient.mrNo %>">
                    <i class='bx bx-list-check'></i>
                    <span class="nav-item">My Responses</span>
                </a>
                <span class="tooltip">My Responses</span>
            </li> -->
            <li>
                <a href="<%= basePath %>/edit-details?Mr_no=<%= patient.mrNo %>">
                    <i class='bx bx-user-circle'></i>
                    <span class="nav-item">My Profile</span>
                </a>
                <span class="tooltip">My Profile</span>
            </li>

            <li>
                <a href="<%= basePath %>">
                    <i class="bx bx-log-out"></i>
                    <span class="nav-item">Logout</span>
                </a>
                <span class="tooltip">Logout</span>
            </li>
        </ul>
        <div class="help-button-container">
            <button id="helpButton" class="help-btn">
                <span class="nav-item">Help </span>
                <i class='bx bx-help-circle'></i>
            </button>
            
        
        </div>
    </div>
    <div class="mobile-nav2" id="mobile-nav2">
        <ul>
            <li>
                <a href="<%= basePath %>/userDetails">
                    <i class='bx bx-bar-chart-alt-2'></i>
                    <span class="nav-item">My Charts</span>
                </a>
            </li>
            <li>
                <a href="<%= basePath %>/edit-details?Mr_no=<%= patient.mrNo %>">
                    <i class='bx bx-user-circle'></i>
                    <span class="nav-item">My Profile</span>
                </a>
            </li>
            <li>
                <a href="<%= basePath %>">
                    <i class="bx bx-log-out"></i>
                    <span class="nav-item">Logout</span>
                </a>
            </li>
        </ul>
    </div>


    <div class="main-content">
        <div class="topbar">
            <h2 style="margin-top: 10px; margin-bottom: 10px;">MR No: <%= patient.mrNo %></h2>
        </div>
        <hr style="opacity: 0.5;">
        <div class="container" data-title="Edit Details" data-intro="Customiizable patient portal">
          <div class="profile-container">
              <img src="<%= basePath %>/assets/profile-pic.png" alt="Profile Picture" class="profile-pic">
              <div class="profile-details">

                <div><b>Name:</b> <%= patient.firstName %> <%= patient.lastName %></div>
                <div><b>Gender:</b> <%= patient.gender %></div></div>
                <div class="profile-details">
                    <div><b>Date of Birth:</b> <%=patient.displayDOB %></div>
                    <div><b>Height:</b> <%= patient.height %></div>
                

              </div><hr class="dashed">
              <div class="allergies">
                  <h3>Allergies</h3>
                  <ul>
                      <li>Penicillin - High</li>
                      <li>Another Allergy - Medium</li>
                  </ul>
                  <br>
                  <h3>Medical History</h3>
                  <ul>
                      <li>Past diagnoses:</li>
                      <li>Surgeries:</li>
                      <li>Immunizations:</li>
                  </ul>
                  <br>
                  <h3>Social History</h3>
                  <p>No social history information available.</p>
                  
              </div>
          </div>
  
          <div class="form-container" data-title="Edit" data-intro="Edit your respective inputs">
            <h2 style="margin-top: 10px; margin-bottom: 10px;">Edit Personal Information</h2><br>
              <form id="dataForm" method="POST" action="<%= basePath %>/update-data">
                  <div class="form-group">
                      <label for="Mr_no" class="form-label">MR Number</label>
                      <input style="background-color: #f0f0f0;" type="text" id="Mr_no" class="form-input" name="Mr_no" readonly required
                          value="<%= patient.mrNo %>">
                  </div>
                  <div class="form-group">
                    <label for="firstName" class="form-label">First Name:</label>
                    <input type="text" class="form-input" id="firstName" name="firstName" required value="<%= patient.firstName %>">
                </div>
                <div class="form-group">
                    <label for="middleName" class="form-label">Middle Name:</label>
                    <input type="text" class="form-input" id="middleName" name="middleName" value="<%= patient.middleName %>">
                </div>
                <div class="form-group">
                    <label for="lastName" class="form-label">Last Name:</label>
                    <input type="text" class="form-input" id="lastName" name="lastName" required value="<%= patient.lastName %>">
                </div>
                
                  <!-- Existing form structure -->

                  <div class="form-group">
                    <label for="DOB" class="form-label">Date of Birth:</label>
                    <input type="date" class="form-input" id="DOB" name="DOB" required value="<%= patient.inputDOB %>">
                </div>
                

<!-- Rest of the form -->

                  <div class="form-group">
                      <label for="phoneNumber" class="form-label">Phone Number</label>
                      <input type="text" class="form-input" id="phoneNumber" name="phoneNumber" required
                          value="<%= patient.phoneNumber %>">
                  </div>
                  <div class="form-group">
                      <label for="password" class="form-label">Password</label>
                      <input type="password" class="form-input" id="password" name="password" >
                  </div>
                  <div class="form-group">
                      <label for="Confirm_Password" class="form-label">Confirm Password</label>
                      <input type="password" class="form-input" id="Confirm_Password" name="Confirm_Password">
                  </div>
                  <input type="hidden" name="_id" value="<%= patient._id %>">
                  <button type="submit" class="update-btn" data-title="Update" data-intro="Click here to update your details"><i class='bx bx-check-double' style='font-size: 16px;' ></i> Update</button>
              </form>
              <% if (errorMessage.length > 0) { %>
              <div class="flash-message error"><%= errorMessage %></div>
              <% } %>
              <% if (successMessage.length > 0) { %>
              <div class="flash-message success"><%= successMessage %></div>
              <% } %>
          </div>
      </div>
    </div>

    <script src="<%= basePath %>/js/intro.min.js"></script>
    <script>
        document.getElementById('helpButton').addEventListener('click', function() {
            introJs().start();
        });
        
    </script>
    <script>
        let btn = document.querySelector('#btn');
        let sidebar = document.querySelector('.sidebar');

        btn.onclick = function () {
            sidebar.classList.toggle('active');
        };
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const form = document.getElementById('dataForm');
            form.addEventListener('submit', function (event) {
                const password = document.getElementById('password').value;
                const confirmPassword = document.getElementById('Confirm_Password').value;

                if (password !== confirmPassword) {
                    event.preventDefault();
                    alert('Passwords do not match.');
                }
            });
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const sidebarLinks = document.querySelectorAll('.sidebar ul li a');

            function removeCurrentPageClasses() {
                sidebarLinks.forEach(link => {
                    link.classList.remove('CurrentPage');
                });
            }

            function setCurrentPageLink(path) {
                removeCurrentPageClasses();
                console.log(`Setting CurrentPage link for path: ${path}`);
                const currentPageLink = Array.from(sidebarLinks).find(link => {
                    const linkPath = new URL(link.href).pathname;
                    return linkPath === path;
                });
                if (currentPageLink) {
                    console.log(`CurrentPage link found: ${currentPageLink.href}`);
                    currentPageLink.classList.add('CurrentPage');
                } else {
                    console.log(`No CurrentPage link found for path: ${path}`);
                }
            }

            // Check the URL path and set the current page link on page load
            const currentPath = window.location.pathname;
            console.log(`Current path: ${currentPath}`);
            setCurrentPageLink(currentPath);

            sidebarLinks.forEach(link => {
                link.addEventListener('click', function () {
                    const targetPath = new URL(link.href).pathname;
                    console.log(`Navigating to: ${targetPath}`);
                    setCurrentPageLink(targetPath);
                });
            });
        });
    </script>
</body>

</html>
