<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="<%= basePath %>/styles.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body id="admin-dashboard">
    <div class="sidebar">
        <div class="top">
            <div class="logo">
                <img src="<%= basePath %>/assets/logo.png" alt="WeHealthify">
            </div>
            <i class="bx bx-menu" id="btn"></i>
        </div>

        <div class="user">
            <div>
                <!-- <p class="bold">Hospital Admin</p> -->
                <p class="bold">Admin</p>
                <p class="bold"><%= hospitalName %></p>
                <p class="bold"><%= site_code %></p>
                <hr class="spacer">
            </div>
        </div>
        <ul>
            <li>
                <a href="<%= basePath %>/admin-dashboard">
                    <i class="bx bxs-grid-alt"></i>
                    <span class="nav-item">Admin Dashboard</span>
                </a>
                <span class="tooltip">Dashboard</span>
            </li>
            <li>
                <a href="https://proms-2.giftysolutions.com/manageproviders">
                    <i class='bx bx-group'></i>
                    <span class="nav-item">Manage Providers</span>
                </a>
                <span class="tooltip">All Providers</span>
            </li>
            <li>
                <a href="https://proms-2.giftysolutions.com/surveyapp/">
                    <i class='bx bx-book-content'></i>
                    <span class="nav-item">Manage Surveys</span>
                </a>
                <span class="tooltip">All Surveys</span>
            </li>
            <li>
                <a href="https://proms-2.giftysolutions.com/surveyapp/add">
                    <i class='bx bx-folder-plus'></i>
                    <span class="nav-item">Add New Specialty</span>
                </a>
                <span class="tooltip">New Specialty</span>
            </li>
            <li>
                <a href="<%= basePath %>/view-report">
                    <i class='bx bxs-report'></i>
                    <span class="nav-item">View Reports</span>
                </a>
                <span class="tooltip">Reports</span>
            </li>
            <li>
                <a href="<%= basePath %>">
                    <i class="bx bx-log-out"></i>
                    <span class="nav-item">Logout</span>
                </a>
                <span class="tooltip">Logout</span>
            </li>
        </ul>
    </div>

    <div class="main-content">
        <div class="topbar">
            <h2 style="color: #333333;">Welcome, <%= firstName %> <%= lastName %></h2>
        </div>

        <hr style="opacity: 0.5;">
        <div class="dashboard">
            <div class="blurbs">
                <div class="blurb">
                    <img src="<%= basePath %>/assets/images/manage-providers.png" alt="Manage Providers">
                    <h3>Manage Providers</h3>
                    <p>Keep track of all your healthcare providers in one place.</p>
                    <a href="https://proms-2.giftysolutions.com/manageproviders">
                        <button class="cta-blurb"><i class='bx bx-group'></i> Manage Providers</button>
                    </a>
                </div>
                <div class="blurb">
                    <img src="<%= basePath %>/assets/images/manage-surveys-final.png" alt="Manage Surveys">
                    <h3>Manage Surveys</h3>
                    <p>Create, distribute, and analyze patient surveys with ease.</p>
                    <a href="https://proms-2.giftysolutions.com/surveyapp/">
                        <button class="cta-blurb"><i class='bx bx-book-content'></i> Manage Surveys</button></a>
                </div>
                <div class="blurb">
                    <img src="<%= basePath %>/assets/images/View-Reports.png" alt="View Report">
                    <h3>View Reports</h3>
                    <p>Access detailed reports and insights to make informed decisions.</p>
                    <a href="<%= basePath %>/view-report">
                        <button class="cta-blurb"><i class='bx bxs-report'></i> View Reports</button></a>
                </div>
            </div>
        </div>
    </div>

    <script src="<%= basePath %>/script.js"></script>

    <script>
        let btn = document.querySelector('#btn');
        let sidebar = document.querySelector('.sidebar');
      
        btn.onclick = function() {
            sidebar.classList.toggle('active');
        };
    </script>
      
    <script>
    document.addEventListener('DOMContentLoaded', function() {
        const sidebarLinks = document.querySelectorAll('.sidebar ul li a');
      
        function removeCurrentPageClasses() {
            sidebarLinks.forEach(link => {
                link.classList.remove('CurrentPage');
            });
        }
      
        function setCurrentPageLink(path) {
            removeCurrentPageClasses();
            const currentPageLink = Array.from(sidebarLinks).find(link => {
                const linkPath = new URL(link.href).pathname;
                return linkPath === path;
            });
            if (currentPageLink) {
                currentPageLink.classList.add('CurrentPage');
            }
        }
      
        // Check the URL path and set the current page link on page load
        const currentPath = window.location.pathname;
        setCurrentPageLink(currentPath);
      
        sidebarLinks.forEach(link => {
            link.addEventListener('click', function() {
                const targetPath = new URL(link.href).pathname;
                setCurrentPageLink(targetPath);
            });
        });
    });
    </script>
</body>
</html>
